<% content_for :title, "Editing branch" %>


<div class="row justify-content-center">
  <div class="col-sm-8">

    <h1><%= t(".title") %></h1>
    <%= render "form", branch: @branch %>

  </div>
</div>