<h1><%= t(".title") %></h1>

<%= render @branch %>

<div>
  <%= link_to t("common.edit"), edit_branch_path(@branch) %> 
  <%= button_to t("common.delete"), @branch, method: :delete, data: { confirm: t("confirmations.delete.branch", branch_name: @branch.name)}, id: "destroy-branch" %>
</div>
