<% content_for :title, "Editing branch fiscal year stat" %>

<h1>Editing branch fiscal year stat</h1>

<%= render "form", branch_fiscal_year_stat: @branch_fiscal_year_stat %>

<br>

<div>
  <%= link_to "Show this branch fiscal year stat", @branch_fiscal_year_stat %> |
  <%= link_to "Back to branch fiscal year stats", branch_fiscal_year_stats_path %>
</div>
