<p style="color: green"><%= notice %></p>

<% content_for :title, "Branch fiscal year stats" %>

<h1>Branch fiscal year stats</h1>

<div id="branch_fiscal_year_stats">
  <% @branch_fiscal_year_stats.each do |branch_fiscal_year_stat| %>
    <%= render branch_fiscal_year_stat %>
    <p>
      <%= link_to "Show this branch fiscal year stat", branch_fiscal_year_stat %>
    </p>
  <% end %>
</div>

<%= link_to "New branch fiscal year stat", new_branch_fiscal_year_stat_path %>
