<% content_for :title, "New branch fiscal year stat" %>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <h1><%= t(".title") %></h1>
    <%= render "form", branch_fiscal_year_stat: @branch_fiscal_year_stat, branches: @branches %>
  </div>
</div>