<% content_for :title, "New company" %>



<div class="row justify-content-center">
  <div class="col-sm-8">

    <h1><%= t(".title") %></h1>
    <%= render "form", company: @company %>

  </div>
</div>
