
<h1><%= t(".title") %></h1>

<%= render @company %>

<div>
  <%= link_to t("common.edit"), edit_company_path(@company) %> 
  <%= button_to t("common.delete"), @company, method: :delete, data: { confirm: t("confirmations.delete.company", company_name: @company.name)} %>
</div>
